<style >
.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.top, .bottom {
    padding: 10px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.left,
.right {
    flex: 1;
    padding: 10px;
}
</style >